<html>
<head>
<title>Crawler add url</title>
</head>
<body>
  <h1>Add a url to the crawler </h1>
  <form>
  Url: <input  type="text" name="url"/> 
  <br>
  Recurse:
  <input  type="radio" value="y" name="recurse" checked="y"/> Yes
  <input  type="radio" value="n" name="recurse" /> No
  <br>
  Follow link to other domain:
  <input  type="radio" value="y" name="other_domain" checked="y"/> Yes
  <input  type="radio" value="n" name="other_domain" /> No
  <br>
  Max recurse level:
  <input  type="text" value="1"  name="reclevel"/>
  <br>
  <input value="Add" type="submit" />
  </form>
  {% if url %}
  Url {{url}} added! Click <a href="{{cache_url}}">here</a> to see it
  {% else %}
  Type the url you want to index.
  {% endif %}
</body>
</html>

